<h1>List of users</h1>

<ul class="d-flex flex-column px-0">
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
    <li class="list-unstyled mb-4">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <img src="<%= user.photo %>" class="img-thumbnail" />
        </div>
        <div class="col-md-7 col-sm-12">
          <div><%= user.name %></div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div>Number of posts: <%= user.posts_counter || 0 %></div>
        </div>
      </div>
    </li>
    <% end %>
  <% end %>
</ul>
